.c-tabNav {
  height: 110rpx;
}
.m-tabNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110rpx;
  line-height: 110rpx;
  background: white;
  border-top: 1px solid #f3f3f3;
  text-align: center;
  color: #555;
  font-size: 28rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  .u-text {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#fff,#d1cfcf);
    width: 100%;
  }
}