.c-noLogin {
  text-align: center;
  padding: 40rpx;
  margin-top: 76rpx;
}
.u-tlt {
  font-size: 32rpx;
  text-align: center;
  color: black;
}
.u-login-btn {
  width: 400rpx;
  margin: 20rpx auto;
}