.p-me {
  padding: 35rpx 0 0;
  .m-header {
    display: flex;
    justify-content: center;
  }
  .m-content {
    background: #f7f8f9;
    padding: 50rpx 40rpx 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
  .m-card {
    padding: 40rpx;
    width: 100%;
    box-sizing: border-box; 
    .u-card {
      margin-top: 20rpx;
    }
  }
}